.body {
font-family: Arial;
font-size: 20px;
line-height: 23px;
}

.people {
  margin: 30px 55px;
  display: grid;
  grid-template-columns: repeat(4, 223px);
  grid-template-rows: 240px 240px 240px;
  grid-gap: 25px;
}

.person {
  transition: 1s;
  height: 231px;
}

.person .photo img:hover {
  transition: 0.8s;
  border-radius: 60px;
}

.photo{
  display: flex;
  align-items: center;
}

.photo img{
  margin: 12px 12px 0;
  width: 200px;
  border-radius: 200px;
  transition: 1s;
}

.rank {
  display: flex;
  margin-left: 170px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  background: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #8b0000;
}

.details {
display: flex;
flex-direction: column;
font-size: 20px;
line-height: 23px;
color: #2F4F4F;
justify-content: center;
align-items: center;
}
.person:hover .extra {
  visibility: visible;
}

.person .extra {
  visibility: hidden;
 }

.person:hover {
  position: relative;
  height: 264px;
  background: #eee;
  transform: scale(1.2);
  transition: background-color 0.1ms, transform 1s;
  border-radius: 10px;
}

@media screen and (max-width: 999px) {
  .people {
    margin: 30px 55px;
    display: grid;
    grid-template-columns: repeat(2, 223px);
    grid-template-rows: 240px 240px 240px;
    grid-gap: 25px;
  }
}
